@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  /*Primary*/
  --red-color: hsl(0, 78%, 62%);
  --cyan-color: hsl(180, 62%, 55%);
  --orange-color: hsl(34, 97%, 64%);
  --blue-color: hsl(212, 86%, 64%);

  /*Neutral*/
  --very-Dark-Blue: hsl(234, 12%, 34%);
  --grayish-Blue: hsl(229, 6%, 66%);
  --very-Light-Gray: hsl(0, 0%, 98%);

  /*font size*/
  --font-size-base: 1em;
  --font-family: "Poppins", sans-serif;
}

body {
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  background-color: var(--very-Light-Gray);
}
h1 {
  /*            https://css-tricks.com/snippets/css/fluid-typography/ 👇*/
  font-size: calc(24px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}
h1,
h2 {
  color: var(--very-Dark-Blue);
}
.text-center {
  text-align: center;
}

.font-w200 {
  font-weight: 200;
}

.text-grayish {
  color: var(--grayish-Blue);
}

.icon-feature {
  float: right;
  padding: 20px 5px;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.pt-1 {
  padding-top: 1.5rem;
}
.pb-2 {
  padding-bottom: 2.5rem;
}

/*Layout*/
.services-grid {
  height: auto;
  display: grid;
  grid-row-gap: 1.6rem;
}

.supervisor {
  border-top: 4px solid var(--cyan-color);
}
.team-Builder {
  border-top: 4px solid var(--red-color);
}
.karma {
  border-top: 4px solid var(--orange-color);
}
.calculator {
  border-top: 4px solid var(--blue-color);
}

/*Components*/
.card {
  background: white;
  box-shadow: 3px 3px 8px 4px hsla(234, 12%, 34%, 0.2);
  padding: 5px 25px 10px 25px;
  border-radius: 5px;
  transition: all 0.3s ease-in;
}
.card:hover {
  box-shadow: 9px 9px 24px 12px hsla(234, 12%, 34%, 0.2);
}

@media (min-width: 992px) {
  .services-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 2rem;
  }
  .container {
    width: 85%;
  }
  header {
    width: 60%;
    margin: 0 auto;
  }
  .supervisor {
    grid-area: 2 / 1 / 4 / 2;
  }

  .team-Builder {
    grid-area: 1 / 2 / 3 / 3;
  }
  .karma {
    grid-area: 3 / 2 / 5 / 3;
  }
  .calculator {
    grid-area: 2 / 3 / 4 / 4;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 75%;
  }
  header {
    width: 40%;
  }
  .description {
    width: 90%;
    font-size: 0.85em;
    line-height: 1.6;
  }
}
